<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,248},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,127},{123,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,122}}</string>
                <key>sourceSize</key>
                <string>{123,122}</string>
            </dict>
            <key>resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>scan_lines.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>score_bgr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{530,614}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,614}}</string>
                <key>sourceSize</key>
                <string>{530,614}</string>
            </dict>
            <key>sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,248},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,248},{123,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,122}}</string>
                <key>sourceSize</key>
                <string>{123,122}</string>
            </dict>
            <key>trl_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{169,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,121}}</string>
                <key>sourceSize</key>
                <string>{169,121}</string>
            </dict>
            <key>trl_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,2},{169,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,121}}</string>
                <key>sourceSize</key>
                <string>{169,121}</string>
            </dict>
            <key>trl_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,125},{169,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,121}}</string>
                <key>sourceSize</key>
                <string>{169,121}</string>
            </dict>
            <key>trl_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,125},{169,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,121}}</string>
                <key>sourceSize</key>
                <string>{169,121}</string>
            </dict>
            <key>turbo.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1140},{600,586}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{600,586}}</string>
                <key>sourceSize</key>
                <string>{602,588}</string>
            </dict>
            <key>world_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,251},{88,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,87}}</string>
                <key>sourceSize</key>
                <string>{88,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui_objects.png</string>
            <key>size</key>
            <string>{1122,1756}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9ce8e45aea833a3082bee27a28bda86:c4f590e20e24f7495e38ddc269914a04:dc0738b2b4ea8413748ed3d8d1ab0d01$</string>
            <key>textureFileName</key>
            <string>gui_objects.png</string>
        </dict>
    </dict>
</plist>
