<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f40_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,28}}</string>
                <key>offset</key>
                <string>{-1,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,214},{104,28}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lambo_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{118,28}}</string>
                <key>offset</key>
                <string>{1,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,218},{118,28}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>testa_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{138,22}}</string>
                <key>offset</key>
                <string>{0,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,220},{138,22}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>light_objects.png</string>
            <key>size</key>
            <string>{256,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26de69a9a09e84c82576458e2bf4149f:bc4bf9ae1ba9ddc8d8937626a9f30962:4726a26ae484d147e6347747b19b40db$</string>
            <key>textureFileName</key>
            <string>light_objects.png</string>
        </dict>
    </dict>
</plist>
